{% extends 'main/layout.html' %}

{% block title %} Український веб довідник {% endblock %}

{% block content %}
<aside class="whit-rec">
     <p style="margin-left: 930px; position: absolute; top:420px;"> <b style="font-size: 25px;">CSS приклад:</b></p>
    <div class="gray-rectangle">
        <p style="line-height: 2; font-size: 14.5px" ><b style="font-size: 30px;">Український веб-довідник</b><br>
        Веб-довідник створено, щоб допомогти Вам здобути нові знання, а також ефективніше використовувати вже.<br>
        Його мета - щоб будь-хто з легкістю зміг увійти в світ веб-розробки та без проблем створив свій перший сайт!<br>
        Ми та наші друзі - пул українського співтовариства, котрий буде постійно працювати, задля покращення українського сегменту інтернету та виведення його з теперішнього, незадовільного, стану. Тому, всі ми відкриті для нових ідей і готові до глобальних змін!<br>
        <br>
    Сьогодні, Ви можете дізнатися про наступні технології:
        </p>
    </div>
</aside>
<aside class="whit-rec">
    <p style="margin-left: 930px; position: absolute; top:768px;"> <b style="font-size: 25px;">HTML приклад:</b></p>
    <div>
        <p style="text-align: right;">  </p>
        <div class="white-rectangle">
            <p style="line-height: 2; font-size: 14.5px;"> <b style="font-size: 30px;"> CSS </b> <br>
        Каскадні таблиці стилів (англ. Cascading Style Sheets - CSS). <br>
        Мова для запису стильового оформлення.<br>
        Колір тла, розмір літер та найрізноманітніші візуальні ефекти створюються за допомогою.
        </p>
        <button  class="btn btn-success" > <a href="{% url 'cssvlast' %}" style="color: #f1f1f1; text-decoration: none;">CSS властивості</a> </button>
        <button  class="btn btn-success"><a href="{% url 'cssc' %}" style="color: #f1f1f1; text-decoration: none;">CSS селектори</a></button>
        </div>
    </div>
</aside>
<hr style="margin-left: 250px; margin-top: 100px">

    <div class="white-rectangle">
        <p style="line-height: 2; font-size: 14.5px;" > <b style="font-size: 30px;">HTML</b> <br>
        Мова розмітки гіпертексту (англ. HyperText Markup Language - HTML).<br>
        Основна мова для опису змісту веб-сторінок. <br>
        Посилання, параграфи, форми та інші елементи веб-сторінки створюються за допомогою HTML.
        </p>
        <button  class="btn btn-success"><a href="{% url 'teg' %}" style="color: #f1f1f1; text-decoration: none;">HTML теги </a> </button>
        <button  class="btn btn-success"><a href="{% url 'pod' %}" style="color: #f1f1f1; text-decoration: none;">HTML Події</a> </button>
        <button  class="btn btn-success"><a href="{% url 'global' %}" style="color: #f1f1f1; text-decoration: none;">HTML Глобальні атрибути</a>  </button>
    </div>

<hr style="margin-left: 250px; margin-top: 100px">
<aside class="whit-rec">
    <p style="margin-left: 930px; position: absolute; top:1120px;"> <b style="font-size: 25px;">JS приклад:</b></p>
        <div class="white-rectangle"> <p style="font-size: 14.5px;"> <b style="font-size: 30px;" > JS </b> <br>
            JavaScript (скорочено - JS) - це високорівнева мова програмування, яка використовується для надання динамічної поведінки веб-сторінкам. Дозволяє створювати інтерактивні елементи, анімації, змінювати вміст сторінок без їх перезавантаження, може маніпулювати об'єктами та подіями на веб-сторінці, змінюючи їх властивості.<br>
            Javascript - клієнтська мова програмування й виконується в браузері користувача, але в останні роки JavaScript також отримав можливість виконуватися на серверній стороні за допомогою середовищ, таких як Node.js чи подібних. </p>
            <button  class="btn btn-success"><a href="{% url 'jst' %}" style=" color: #f1f1f1; text-decoration: none;">JS теги</a></button>
         </div>
</aside>
<table class="first_table" style="position:absolute; top: 162px">
    <tr>
        <th style="background: #e2efda; text-decoration-color: #4a7543;" > CSS довідник</th>
    </tr>
    <tr>
        <td><a href="{% url 'cssvlast' %}" style="color: black; text-decoration: none;">CSS властивості</a> </td>
    </tr>
    <tr>
        <td><a href="{% url 'cssc' %}" style="color: black; text-decoration: none;">CSS селектори</a></td>
    </tr>
    <tr>
        <td> CSS функції </td>
    </tr>
    <tr>
        <td> CSS значення </td>
    </tr>
</table>

 <table class="first_table" style="position:absolute; top: 450px">
    <tr>
        <th style="background: #fbf8e5; text-decoration-color:#a89671;"> HTML довідник</th>
    </tr>
    <tr>
        <td><a href="{% url 'teg' %}" style="color: black; text-decoration: none;" >HTML теги</a></td>
    </tr>
    <tr>
        <td><a href="{% url 'global' %}" style="color: black; text-decoration: none;" >HTML загальні атрибути</a> </td>
    </tr>
    <tr>
        <td><a href="{% url 'pod' %}" style="color: black; text-decoration: none;" >HTML події</a></td>
    </tr>
     <br>

 </table> <br>
  <table class="first_table" style="position:absolute; top: 684px">
    <tr>
        <th style="background: #efdfde; text-decoration-color: #be8683;"> JS довідник</th>
    </tr>
    <tr>
        <td><a href="{% url 'jst' %}"  style="color: black; text-decoration: none;" >JS обʼєкти</a> </td>
    </tr>
  </table>
<div class="graytwo-rectangle" style="background-color: #f1f1f1;">
    <ul>
         <a href="{% url 'about' %}" style="position: absolute;margin-top: 50px;right: 580px;"><li>Discord</li></a>
         <p style="position: absolute;margin-top: 20px;right: 500px;"> Спільнота </p>
         <p style="position: absolute;margin-top: 20px;right: 200px;"> Звʼязок  </p>
        <li style="position: absolute;margin-top: 50px;right: 265px;"> Формою </li>
        <li style="position: absolute;margin-top: 65px;right: 232px;"> Через пошту</li>
        <li style="position: absolute;margin-top: 80px;right: 140px;"> Максим:(066) 707-42-64 </li>
    </ul>
</div>
<span>
    <div>
        <p class="o-rectangle" style="position:absolute; right: 20px; top: 480px; ">body {<br> background-color: lightblue;<br> }<br> h1 {<br> color: white; text-align: center;<br> }<br> p {<br> font-family: verdana; font-size: 20px;<br> }</p>
        <p class="o-rectangle" style="position:absolute; right: 20px; top: 480px; "></p>
        <p class="o-rectangle" style="position:absolute; right: 20px; top: 1190px; line-height: 1.5;"> function clickHandler(e) {<br>var element = document.getElementById('myElement');<br><br>element.innerHTML = 'Текст змінено після кліку';<br>}<br><br>var button = document.getElementById('myButton');<br><br>button.addEventListener('click', clickHandler);<br></p>
    </div>
</span>

{% endblock %}