{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <aside>
        <img src="{% static 'main/img/IMG_1026.JPG' %}" alt="">
        <span class="logo"> </span>
        <h3>navigation</h3>
        <ul>
            <li><a href="{% url 'home' %}"><i class="fas fa-home"></i> golovna</a></li>
            <li><a href="{% url 'about' %}"><i class="fas fa-user"></i> me</a></li>
            <li><a href="{% url 'contact' %}"><i class="fas fa-newspaper"></i> news</a></li>
        </ul>
    </aside>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
