{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <aside>
        <span class="logo">
            <img src="{% static 'main/img/Знімок екрана 2024-04-13 о 14.39.30.png' %}" class="Logo">
        </span>
        <div class="black-rectangle">
            <ul class="block">
                <li><a href="{% url 'home' %}"><i class="fas fa-home"></i></a></li>
                <li><a href="{% url 'about' %}">CSS</a></li>
                <li><a href="{% url 'contact' %}">HTML</a></li>
                <li><a href="{% url 'js' %}">JS</a></li>
                <li><a href="{% url 'stat' %}">Статті</a></li>
                <li><a href="{% url 'news' %}">Новини</a></li>
            </ul>
        </div>
    </aside>

    {% block content %}{% endblock %}
</body>
</html>
